* {
    margin: 0;
    box-sizing: border-box;
}

.container {
  width: 100%;
  background-color: #f5f7fa;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  box-sizing: border-box;
  background-image: url('../public/background2.jpg');
  background-size: cover;      
  background-position: center; 
  background-repeat: no-repeat;
  width: 100vw;                
  height: 100vh; 
  position: relative;
}
